﻿.intl-tel-input .flag {
    width: 16px;
    height: 11px;
    background: url("../img/flags.png");
}

.intl-tel-input .ad {
    background-position: -16px 0;
}

.intl-tel-input .ae {
    background-position: -32px 0;
}

.intl-tel-input .af {
    background-position: -48px 0;
}

.intl-tel-input .ag {
    background-position: -64px 0;
}

.intl-tel-input .ai {
    background-position: -80px 0;
}

.intl-tel-input .al {
    background-position: -96px 0;
}

.intl-tel-input .am {
    background-position: -112px 0;
}

.intl-tel-input .ao {
    background-position: -128px 0;
}

.intl-tel-input .ar {
    background-position: -144px 0;
}

.intl-tel-input .as {
    background-position: -160px 0;
}

.intl-tel-input .at {
    background-position: -176px 0;
}

.intl-tel-input .au {
    background-position: -192px 0;
}

.intl-tel-input .aw {
    background-position: -208px 0;
}

.intl-tel-input .az {
    background-position: -224px 0;
}

.intl-tel-input .ba {
    background-position: -240px 0;
}

.intl-tel-input .bb {
    background-position: 0 -11px;
}

.intl-tel-input .bd {
    background-position: -16px -11px;
}

.intl-tel-input .be {
    background-position: -32px -11px;
}

.intl-tel-input .bf {
    background-position: -48px -11px;
}

.intl-tel-input .bg {
    background-position: -64px -11px;
}

.intl-tel-input .bh {
    background-position: -80px -11px;
}

.intl-tel-input .bi {
    background-position: -96px -11px;
}

.intl-tel-input .bj {
    background-position: -112px -11px;
}

.intl-tel-input .bm {
    background-position: -128px -11px;
}

.intl-tel-input .bn {
    background-position: -144px -11px;
}

.intl-tel-input .bo {
    background-position: -160px -11px;
}

.intl-tel-input .br {
    background-position: -176px -11px;
}

.intl-tel-input .bs {
    background-position: -192px -11px;
}

.intl-tel-input .bt {
    background-position: -208px -11px;
}

.intl-tel-input .bw {
    background-position: -224px -11px;
}

.intl-tel-input .by {
    background-position: -240px -11px;
}

.intl-tel-input .bz {
    background-position: 0 -22px;
}

.intl-tel-input .ca {
    background-position: -16px -22px;
}

.intl-tel-input .cd {
    background-position: -32px -22px;
}

.intl-tel-input .cf {
    background-position: -48px -22px;
}

.intl-tel-input .cg {
    background-position: -64px -22px;
}

.intl-tel-input .ch {
    background-position: -80px -22px;
}

.intl-tel-input .ci {
    background-position: -96px -22px;
}

.intl-tel-input .ck {
    background-position: -112px -22px;
}

.intl-tel-input .cl {
    background-position: -128px -22px;
}

.intl-tel-input .cm {
    background-position: -144px -22px;
}

.intl-tel-input .cn {
    background-position: -160px -22px;
}

.intl-tel-input .co {
    background-position: -176px -22px;
}

.intl-tel-input .cr {
    background-position: -192px -22px;
}

.intl-tel-input .cu {
    background-position: -208px -22px;
}

.intl-tel-input .cv {
    background-position: -224px -22px;
}

.intl-tel-input .cw {
    background-position: -240px -22px;
}

.intl-tel-input .cy {
    background-position: 0 -33px;
}

.intl-tel-input .cz {
    background-position: -16px -33px;
}

.intl-tel-input .de {
    background-position: -32px -33px;
}

.intl-tel-input .dj {
    background-position: -48px -33px;
}

.intl-tel-input .dk {
    background-position: -64px -33px;
}

.intl-tel-input .dm {
    background-position: -80px -33px;
}

.intl-tel-input .do {
    background-position: -96px -33px;
}

.intl-tel-input .dz {
    background-position: -112px -33px;
}

.intl-tel-input .ec {
    background-position: -128px -33px;
}

.intl-tel-input .ee {
    background-position: -144px -33px;
}

.intl-tel-input .eg {
    background-position: -160px -33px;
}

.intl-tel-input .er {
    background-position: -176px -33px;
}

.intl-tel-input .es {
    background-position: -192px -33px;
}

.intl-tel-input .et {
    background-position: -208px -33px;
}

.intl-tel-input .fi {
    background-position: -224px -33px;
}

.intl-tel-input .fj {
    background-position: -240px -33px;
}

.intl-tel-input .fk {
    background-position: 0 -44px;
}

.intl-tel-input .fm {
    background-position: -16px -44px;
}

.intl-tel-input .fo {
    background-position: -32px -44px;
}

.intl-tel-input .fr, .intl-tel-input .bl, .intl-tel-input .mf {
    background-position: -48px -44px;
}

.intl-tel-input .ga {
    background-position: -64px -44px;
}

.intl-tel-input .gb {
    background-position: -80px -44px;
}

.intl-tel-input .gd {
    background-position: -96px -44px;
}

.intl-tel-input .ge {
    background-position: -112px -44px;
}

.intl-tel-input .gf {
    background-position: -128px -44px;
}

.intl-tel-input .gh {
    background-position: -144px -44px;
}

.intl-tel-input .gi {
    background-position: -160px -44px;
}

.intl-tel-input .gl {
    background-position: -176px -44px;
}

.intl-tel-input .gm {
    background-position: -192px -44px;
}

.intl-tel-input .gn {
    background-position: -208px -44px;
}

.intl-tel-input .gp {
    background-position: -224px -44px;
}

.intl-tel-input .gq {
    background-position: -240px -44px;
}

.intl-tel-input .gr {
    background-position: 0 -55px;
}

.intl-tel-input .gt {
    background-position: -16px -55px;
}

.intl-tel-input .gu {
    background-position: -32px -55px;
}

.intl-tel-input .gw {
    background-position: -48px -55px;
}

.intl-tel-input .gy {
    background-position: -64px -55px;
}

.intl-tel-input .hk {
    background-position: -80px -55px;
}

.intl-tel-input .hn {
    background-position: -96px -55px;
}

.intl-tel-input .hr {
    background-position: -112px -55px;
}

.intl-tel-input .ht {
    background-position: -128px -55px;
}

.intl-tel-input .hu {
    background-position: -144px -55px;
}

.intl-tel-input .id {
    background-position: -160px -55px;
}

.intl-tel-input .ie {
    background-position: -176px -55px;
}

.intl-tel-input .il {
    background-position: -192px -55px;
}

.intl-tel-input .in {
    background-position: -208px -55px;
}

.intl-tel-input .io {
    background-position: -224px -55px;
}

.intl-tel-input .iq {
    background-position: -240px -55px;
}

.intl-tel-input .ir {
    background-position: 0 -66px;
}

.intl-tel-input .is {
    background-position: -16px -66px;
}

.intl-tel-input .it {
    background-position: -32px -66px;
}

.intl-tel-input .jm {
    background-position: -48px -66px;
}

.intl-tel-input .jo {
    background-position: -64px -66px;
}

.intl-tel-input .jp {
    background-position: -80px -66px;
}

.intl-tel-input .ke {
    background-position: -96px -66px;
}

.intl-tel-input .kg {
    background-position: -112px -66px;
}

.intl-tel-input .kh {
    background-position: -128px -66px;
}

.intl-tel-input .ki {
    background-position: -144px -66px;
}

.intl-tel-input .km {
    background-position: -160px -66px;
}

.intl-tel-input .kn {
    background-position: -176px -66px;
}

.intl-tel-input .kp {
    background-position: -192px -66px;
}

.intl-tel-input .kr {
    background-position: -208px -66px;
}

.intl-tel-input .kw {
    background-position: -224px -66px;
}

.intl-tel-input .ky {
    background-position: -240px -66px;
}

.intl-tel-input .kz {
    background-position: 0 -77px;
}

.intl-tel-input .la {
    background-position: -16px -77px;
}

.intl-tel-input .lb {
    background-position: -32px -77px;
}

.intl-tel-input .lc {
    background-position: -48px -77px;
}

.intl-tel-input .li {
    background-position: -64px -77px;
}

.intl-tel-input .lk {
    background-position: -80px -77px;
}

.intl-tel-input .lr {
    background-position: -96px -77px;
}

.intl-tel-input .ls {
    background-position: -112px -77px;
}

.intl-tel-input .lt {
    background-position: -128px -77px;
}

.intl-tel-input .lu {
    background-position: -144px -77px;
}

.intl-tel-input .lv {
    background-position: -160px -77px;
}

.intl-tel-input .ly {
    background-position: -176px -77px;
}

.intl-tel-input .ma {
    background-position: -192px -77px;
}

.intl-tel-input .mc {
    background-position: -208px -77px;
}

.intl-tel-input .md {
    background-position: -224px -77px;
}

.intl-tel-input .me {
    background-position: -112px -154px;
    height: 12px;
}

.intl-tel-input .mg {
    background-position: 0 -88px;
}

.intl-tel-input .mh {
    background-position: -16px -88px;
}

.intl-tel-input .mk {
    background-position: -32px -88px;
}

.intl-tel-input .ml {
    background-position: -48px -88px;
}

.intl-tel-input .mm {
    background-position: -64px -88px;
}

.intl-tel-input .mn {
    background-position: -80px -88px;
}

.intl-tel-input .mo {
    background-position: -96px -88px;
}

.intl-tel-input .mp {
    background-position: -112px -88px;
}

.intl-tel-input .mq {
    background-position: -128px -88px;
}

.intl-tel-input .mr {
    background-position: -144px -88px;
}

.intl-tel-input .ms {
    background-position: -160px -88px;
}

.intl-tel-input .mt {
    background-position: -176px -88px;
}

.intl-tel-input .mu {
    background-position: -192px -88px;
}

.intl-tel-input .mv {
    background-position: -208px -88px;
}

.intl-tel-input .mw {
    background-position: -224px -88px;
}

.intl-tel-input .mx {
    background-position: -240px -88px;
}

.intl-tel-input .my {
    background-position: 0 -99px;
}

.intl-tel-input .mz {
    background-position: -16px -99px;
}

.intl-tel-input .na {
    background-position: -32px -99px;
}

.intl-tel-input .nc {
    background-position: -48px -99px;
}

.intl-tel-input .ne {
    background-position: -64px -99px;
}

.intl-tel-input .nf {
    background-position: -80px -99px;
}

.intl-tel-input .ng {
    background-position: -96px -99px;
}

.intl-tel-input .ni {
    background-position: -112px -99px;
}

.intl-tel-input .nl, .intl-tel-input .bq {
    background-position: -128px -99px;
}

.intl-tel-input .no {
    background-position: -144px -99px;
}

.intl-tel-input .np {
    background-position: -160px -99px;
}

.intl-tel-input .nr {
    background-position: -176px -99px;
}

.intl-tel-input .nu {
    background-position: -192px -99px;
}

.intl-tel-input .nz {
    background-position: -208px -99px;
}

.intl-tel-input .om {
    background-position: -224px -99px;
}

.intl-tel-input .pa {
    background-position: -240px -99px;
}

.intl-tel-input .pe {
    background-position: 0 -110px;
}

.intl-tel-input .pf {
    background-position: -16px -110px;
}

.intl-tel-input .pg {
    background-position: -32px -110px;
}

.intl-tel-input .ph {
    background-position: -48px -110px;
}

.intl-tel-input .pk {
    background-position: -64px -110px;
}

.intl-tel-input .pl {
    background-position: -80px -110px;
}

.intl-tel-input .pm {
    background-position: -96px -110px;
}

.intl-tel-input .pr {
    background-position: -112px -110px;
}

.intl-tel-input .ps {
    background-position: -128px -110px;
}

.intl-tel-input .pt {
    background-position: -144px -110px;
}

.intl-tel-input .pw {
    background-position: -160px -110px;
}

.intl-tel-input .py {
    background-position: -176px -110px;
}

.intl-tel-input .qa {
    background-position: -192px -110px;
}

.intl-tel-input .re {
    background-position: -208px -110px;
}

.intl-tel-input .ro {
    background-position: -224px -110px;
}

.intl-tel-input .rs {
    background-position: -240px -110px;
}

.intl-tel-input .ru {
    background-position: 0 -121px;
}

.intl-tel-input .rw {
    background-position: -16px -121px;
}

.intl-tel-input .sa {
    background-position: -32px -121px;
}

.intl-tel-input .sb {
    background-position: -48px -121px;
}

.intl-tel-input .sc {
    background-position: -64px -121px;
}

.intl-tel-input .sd {
    background-position: -80px -121px;
}

.intl-tel-input .se {
    background-position: -96px -121px;
}

.intl-tel-input .sg {
    background-position: -112px -121px;
}

.intl-tel-input .sh {
    background-position: -128px -121px;
}

.intl-tel-input .si {
    background-position: -144px -121px;
}

.intl-tel-input .sk {
    background-position: -160px -121px;
}

.intl-tel-input .sl {
    background-position: -176px -121px;
}

.intl-tel-input .sm {
    background-position: -192px -121px;
}

.intl-tel-input .sn {
    background-position: -208px -121px;
}

.intl-tel-input .so {
    background-position: -224px -121px;
}

.intl-tel-input .sr {
    background-position: -240px -121px;
}

.intl-tel-input .ss {
    background-position: 0 -132px;
}

.intl-tel-input .st {
    background-position: -16px -132px;
}

.intl-tel-input .sv {
    background-position: -32px -132px;
}

.intl-tel-input .sx {
    background-position: -48px -132px;
}

.intl-tel-input .sy {
    background-position: -64px -132px;
}

.intl-tel-input .sz {
    background-position: -80px -132px;
}

.intl-tel-input .tc {
    background-position: -96px -132px;
}

.intl-tel-input .td {
    background-position: -112px -132px;
}

.intl-tel-input .tg {
    background-position: -128px -132px;
}

.intl-tel-input .th {
    background-position: -144px -132px;
}

.intl-tel-input .tj {
    background-position: -160px -132px;
}

.intl-tel-input .tk {
    background-position: -176px -132px;
}

.intl-tel-input .tl {
    background-position: -192px -132px;
}

.intl-tel-input .tm {
    background-position: -208px -132px;
}

.intl-tel-input .tn {
    background-position: -224px -132px;
}

.intl-tel-input .to {
    background-position: -240px -132px;
}

.intl-tel-input .tr {
    background-position: 0 -143px;
}

.intl-tel-input .tt {
    background-position: -16px -143px;
}

.intl-tel-input .tv {
    background-position: -32px -143px;
}

.intl-tel-input .tw {
    background-position: -48px -143px;
}

.intl-tel-input .tz {
    background-position: -64px -143px;
}

.intl-tel-input .ua {
    background-position: -80px -143px;
}

.intl-tel-input .ug {
    background-position: -96px -143px;
}

.intl-tel-input .us {
    background-position: -112px -143px;
}

.intl-tel-input .uy {
    background-position: -128px -143px;
}

.intl-tel-input .uz {
    background-position: -144px -143px;
}

.intl-tel-input .va {
    background-position: -160px -143px;
}

.intl-tel-input .vc {
    background-position: -176px -143px;
}

.intl-tel-input .ve {
    background-position: -192px -143px;
}

.intl-tel-input .vg {
    background-position: -208px -143px;
}

.intl-tel-input .vi {
    background-position: -224px -143px;
}

.intl-tel-input .vn {
    background-position: -240px -143px;
}

.intl-tel-input .vu {
    background-position: 0 -154px;
}

.intl-tel-input .wf {
    background-position: -16px -154px;
}

.intl-tel-input .ws {
    background-position: -32px -154px;
}

.intl-tel-input .ye {
    background-position: -48px -154px;
}

.intl-tel-input .za {
    background-position: -64px -154px;
}

.intl-tel-input .zm {
    background-position: -80px -154px;
}

.intl-tel-input .zw {
    background-position: -96px -154px;
}

.intl-tel-input {
    position: relative;
    display: inline-block;
}

    .intl-tel-input * {
        box-sizing: border-box;
        -moz-box-sizing: border-box;
    }

    .intl-tel-input .hide {
        display: none;
    }

    .intl-tel-input .v-hide {
        visibility: hidden;
    }

    .intl-tel-input input[type=text], .intl-tel-input input[type=tel] {
        position: relative;
        z-index: 0;
        margin-top: 0 !important;
        margin-bottom: 0 !important;
        padding-left: 44px;
        margin-left: 0;
    }

    .intl-tel-input .flag-dropdown {
        position: absolute;
        top: 0;
        bottom: 0;
        padding: 1px;
    }

        .intl-tel-input .flag-dropdown:hover {
            cursor: pointer;
        }

            .intl-tel-input .flag-dropdown:hover .selected-flag {
                background-color: rgba(0,0,0,0.05);
            }

    .intl-tel-input input[disabled] + .flag-dropdown:hover {
        cursor: default;
    }

        .intl-tel-input input[disabled] + .flag-dropdown:hover .selected-flag {
            background-color: transparent;
        }

    .intl-tel-input .selected-flag {
        z-index: 1;
        position: relative;
        width: 38px;
        height: 100%;
        padding: 0 0 0 8px;
    }

        .intl-tel-input .selected-flag .flag {
            position: absolute;
            top: 50%;
            margin-top: -5px;
        }

        .intl-tel-input .selected-flag .arrow {
            position: relative;
            top: 50%;
            margin-top: -2px;
            left: 20px;
            width: 0;
            height: 0;
            border-left: 3px solid transparent;
            border-right: 3px solid transparent;
            border-top: 4px solid #555;
        }

            .intl-tel-input .selected-flag .arrow.up {
                border-top: none;
                border-bottom: 4px solid #555;
            }

    .intl-tel-input .country-list {
        list-style: none;
        position: absolute;
        z-index: 2;
        padding: 0;
        margin: 0 0 0 -1px;
        box-shadow: 1px 1px 4px rgba(0,0,0,0.2);
        background-color: white;
        border: 1px solid #ccc;
        width: 430px;
        max-height: 200px;
        overflow-y: scroll;
    }

        .intl-tel-input .country-list .flag {
            display: inline-block;
        }

        .intl-tel-input .country-list .divider {
            padding-bottom: 5px;
            margin-bottom: 5px;
            border-bottom: 1px solid #ccc;
        }

        .intl-tel-input .country-list .country {
            padding: 5px 10px;
        }

            .intl-tel-input .country-list .country .dial-code {
                color: #999;
            }

            .intl-tel-input .country-list .country.highlight {
                background-color: rgba(0,0,0,0.05);
            }

        .intl-tel-input .country-list .flag, .intl-tel-input .country-list .country-name {
            margin-right: 6px;
        }
