﻿doctype xml
Response
  Say(voice='man').
    #{prompt}
  Record( method="POST"
          action="/AnswerAndPrompt"
          maxLength="20"
          transcribe="true" 
          playBeep="false"
          timeout="3")