﻿doctype html
html(lang="en")
  head
    title Watson Interaction App
    link( rel='stylesheet', 
          href='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
    link( rel='stylesheet', 
          href='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css')
    link( rel='stylesheet',
          href='/stylesheets/intlTelInput.css')
    script( src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    script( src='/javascripts/intlTelInput.js')
    script( type='text/javascript').
      $(function() {

        $('#phoneNumber').intlTelInput({
            responsiveDropdown: true,
            autoFormat: true,
            utilsScript: '/javascripts/phone/util.js'
        });

        // Intercept form submission and submit the form with ajax
        $('#contactForm').on('submit', function(e) {
            e.preventDefault();

            // Call our ajax endpoint on the server to initialize the phone call
            $.ajax({
                url: '/StartCall',
                method: 'POST',
                dataType: 'json',
                data: {
                  phoneNumber: $('#phoneNumber').val()
                },
                success: function(data, textStatus, jqXHR) {
                  alert(data.message);
                },
                error: function(jqXHR, textStatus, errorThrown) {
                  alert(JSON.stringify(error));
                },
                complete: function(){}
           });
        });
      });
  body
    .container
      h1 Watson Interaction App
      hr
      .row
        .col-md-12
          form( id='contactForm', 
                role='form')
            .form-group
              input.form-control( type='text', 
                                  id='phoneNumber', 
                                  placeholder='(651) 555-7889')
            br
            button( type='submit',
                    class='btn btn-default') Start Call