﻿doctype html
html(lang="en")
  head
  title= title
  script(  type='text/javascript' 
           id='sap-ui-bootstrap'
           src= bootStrapURL
           data-sap-ui-libs='sap.m'
           data-sap-ui-theme='sap_bluecrystal'
           data-sap-ui-xx-bindingSyntax='complex'
           data-sap-ui-preload='async'
           data-sap-ui-compatVersion='edge'
           data-sap-ui-resourceroots= resourceRoots )
  script( type='text/javascript').
    sap.ui.getCore().attachInit(function () {            
        new sap.m.App({
            pages: [
            new sap.m.Page({
                title: "Chat Feed",
                enableScrolling: true,
                content: [new sap.ui.core.ComponentContainer({
                    name: !{fqAppName} 
                    })]
                })]
            }).placeAt("content");
        });   
  body(class="sapUiBody" id="content" role="application")

    