﻿mvc:view( controllerName="bob.test.m.Feed.main"
          xmlns:mvc="sap.ui.core.mvc"
	      xmlns="sap.m")
  List(	showSeparators="Inner"
		items="{/EntryCollection}" )
          FeedListItem( sender="{Author}"
                        icon="{AuthorPicUrl}"
                        senderPress="onSenderPress"
                        iconPress="onIconPress"
                        iconDensityAware="false"
                        info="{Type}"
                        timestamp="{Date}"
                        text="{Text}")
  FeedInput(post="onPost"
		    class="sapUiSmallMarginTopBottom")